#CONFIG#
PHY_ESC+CFG.ESC.TURNON.DELAY,4,
PHY_ESC+CFG.VOLT.RAMP,0,
PHY_ESC+CFG.CLAMP.VOLT.DEFAULT.TOLERANCE,10,
PHY_ESC+CFG.TOTAL.VOLT.ABORT.TIME,5,
PHY_ESC+CFG.ESC.REV.POLAR.INTER.VOLT.SET,1,
PHY_ESC+CFG.ESC.REV.POLAR.DECLAMP.VOLT.SET,0,
PHY_ESC+CFG.ESC.REV.POLAR.DECHUCK.TIME.SET,5,
PHY_ESC+CFG.SET.VOLTAGE,2000,
PHY_ESC+CFG.CHARGE.TIME,4,
PHY_ESC+CFG.HOLD.VOLTAGE,2000,
PHY_ESC+CFG.BIAS.VOLT.CHECK.OPTION,Disable,
PHY_ESC+CFG.BIAS.VOLT.CHECK.DELAY,5,
PHY_ESC+CFG.BIAS.VOLT.THRESHOLD,1380,
PHY_ESC+CFG.BIAS.VOLT.ABORT.TIME,5,
PHY_ESC+CFG.BIAS.VOLT.ABORT.BAND,20,
PHY_ESC+CFG.BIAS.VOLT.WARN.BAND,10,
PHY_LIFT+CFG.ESC.VOLTAGE.PIN.UP.THRESHOLD,50,
PHY_IO_ESC+CFG.EXTERNAL.BIAS.COMPENSATION,Enable,
PHY_IO_ESC+CFG.ESC.BIAS.COMPENSATION.VOLTAGE,0,
PHY_IO_ESC+CFG.EXTERNAL.ESC.BIAS.COMPENSATION.MODE,DCProbe,
PHY_IO_ESC+CFG.ESC.BIAS.COMPENSATION.DCPROBE.GAIN,1,
PHY_IO_ESC+CFG.ESC.BIAS.COMPENSATION.DCPROBE.OFFSET,0,
PHY_IO_ESC+CFG.EXTERNAL.BIAS.INVERT,Disable,
PHY_ESC+CFG.ESC.PART.NUMBER,U7890,
PHY_ESC+CFG.ESC.TOTAL.VOLT.FULL.SCALE,2000,
PHY_ESC+CFG.BIAS.MAX.VOLTAGE,2000,
PHY_ESC+CFG.CHARGE.TIME.MODE2,8,
PHY_ESC+CFG.ESC.TURNON.DELAY.MODE2,8,
PHY_ESC+CFG.SET.VOLTAGE.MODE2,5,
PHY_ESC+CFG.VOLT.RAMP.MODE2,0,
PHY_ESC+CFG.HE.PUMPOUT.TIME.BEFORE.DECHUCK.MODE2,3,
PHY_ESC+CFG.ESC.REV.POLAR.DECLAMP.VOLT.SET.MODE2,0,
PHY_ESC+CFG.ESC.REV.POLAR.DECHUCK.TIME.SET.MODE2,5,
PHY_ESC+CFG.CHARGE.TIME.MODE3,8,
PHY_ESC+CFG.ESC.TURNON.DELAY.MODE3,8,
PHY_ESC+CFG.SET.VOLTAGE.MODE3,1998,
PHY_ESC+CFG.VOLT.RAMP.MODE3,0,
PHY_ESC+CFG.HE.PUMPOUT.TIME.BEFORE.DECHUCK.MODE3,5,
PHY_ESC+CFG.ESC.REV.POLAR.DECLAMP.VOLT.SET.MODE3,0,
PHY_ESC+CFG.ESC.REV.POLAR.DECHUCK.TIME.SET.MODE3,5,
