#CONFIG#
PHY_APC_VLV+OTR.IN.aCFG.WARN.BAND,5,
PHY_APC_VLV+OTR.IN.aCFG.ABORT.BAND,10,
PHY_APC_VLV+OTR.IN.aCFG.STAB.TIME,1,
PHY_WAP_CONTROL+CFG.WAP.RING.PREPOS.MOVE.TIME,1,
PHY_WAP_CONTROL+CFG.WAP.RING.PRESET.DEFAULT.TO.LEARN.POS,False,
PHY_WAP_CONTROL+CFG.DERIVATIVE.VALUE,0.02,
PHY_WAP_CONTROL+CFG.INGEGRAL.VALUE,0,
PHY_WAP_CONTROL+CFG.WAP.RING.MAX.PID.DELAY,0,
PHY_WAP_CONTROL+CFG.WAP.RING.MIN.PID.DELAY,0,
PHY_WAP_CONTROL+CFG.WAP.RING.POS.CHECK.EACH.UP,No,
PHY_WAP_CONTROL+CFG.PROPORTIONAL.VALUE,0.1,
PHY_WAP_CONTROL+CFG.WAP.RING.PRESS.REGION.START,100,
PHY_WAP_CONTROL+CFG.WAP.RING.PRESS.REGION.END,900,
FNC_GAS_VLV_CTRL+CFG.WAP.AUTO.LEARN.GAS,GAS07,
FNC_GAS_VLV_CTRL+CFG.WAP.AUTO.LEARN.GAS.FLOW,400,
FNC_GAS_VLV_CTRL+CFG.WAP.AUTO.LEARN.START.DELAY,1,
PHY_WAP_CONTROL+CFG.PRESS.CHECK.DELAY,100,
PHY_WAP_CONTROL+CFG.PID.FAULT.TOL,1,
PHY_WAP_CONTROL+CFG.PID.CONTROL.TIMEOUT,105,
PHY_WAP_CONTROL+CFG.DOWN.POSITION,1000,
PHY_IO__MOTION+ACCEL.VALUE,1,
PHY_IO__MOTION+DECEL.VALUE,1,
PHY_IO__MOTION+VELOCITY.VALUE,1,
PHY_IO__MOTION+POS.TIMEOUT,1,
PHY_IO__MOTION+HOME.ACCEL,1,
PHY_IO__MOTION+HOME.VELOCITY,1,
PHY_IO__MOTION+HOME.OFFSET,-999,
PHY_IO__MOTION+HOME.TIMEOUT,1.0,
PHY_APC_VLV+CFG.RCP.STABLE.CHECK.TIME,3.0,
PHY_IO__APC_VLV+CFG.VALVE.INIT.STATUS,OPEN,
FNC_CHM+CFG.CHABMER.BALLAST.ENABLED,False,
FNC_GAS_VLV_CTRL+CFG.CHAMBER.BALLAST.GAS.FLOW,1000,
FNC_GAS_VLV_CTRL+CFG.CHAMBER.BALLAST.GAS,N2Ballast,
PHY_APC_VLV+CFG.CHAMBER.BALLAST.PRESSURE,,
PHY_APC_VLV+CFG.CHAMBER.BALLAST.PRESSURE.TOLERANCE,,
FNC_GAS_VLV_CTRL+CFG.TRANSFER.BALLAST.GAS.FLOW,1000,
FNC_GAS_VLV_CTRL+CFG.TRANSFER.BALLAST.GAS,N2Ballast,
PHY_APC_VLV+CFG.TRANSFER.BALLAST.PRESSURE,0,
PHY_APC_VLV+CFG.TRANSFER.BALLAST.POSITION,0,
PHY_APC_VLV+CFG.TRANSFER.BALLAST.PRESSURE.TOLERANCE,0,
PHY_APC_VLV+CFG.TRANSFER.BALLAST.PRESSURE.TOLERANCE.MAX,30,
PHY_APC_VLV+CFG.TRANSFER.BALLAST.PRESSURE.TOLERANCE.TIMEOUT,0.0,
PHY_IO__APC_VLV+INR.aAUTO.LEARNING.CMD.TIMEOUT,600,
FNC_CHM+CFG.aBEFORE.AUTO.LEARNING.DELAY.TIME,1,
